@charset "UTF-8";

* {
	font-family:
		"ƒqƒ‰ƒMƒmŠpƒS Pro W3",
		"Hiragino Kaku Gothic Pro W3",
		"ƒƒCƒŠƒI",
		Meiryo,
		Osaka,
		"‚l‚r ‚oƒSƒVƒbƒN",
		"MS P Gothic",
		sans-serif;
	}


* html body {
	zoom: 80%;
}

body {
	font-size: 12px;
	color: #000000;
}

img {
	border: 0;
}

